.links {
  text-align: center;
  a {
    padding: 8px;
    text-decoration: none;
    margin: 5px;
    background: #efefef;
    border-radius: 5px;
    border-color: #eee;
    color: #000000;
    transition: 0.5s;
    &:hover {
      text-decoration: none;
      transition: 0.5s;
    }
    &.active {
      background-color: #636b6e;
      color:#fff;
    }
  }
}
.title {
  text-align: center;
  font-size: 12em;
  font-family: Raleway;
}
.task-div {
  padding: 25px 0;
  h2 {
    background: #636b6e;
    color: #FFFFFF;
    padding: 5px 50px;
  }
  code {
    padding: 6px 12px;
  }
}
.p-50 {
  padding: 50px;
}

